$DarkBlueIntro: hsl(217, 28%, 15%);
/* (intro and email sign up background): */
$DarkBlueMain: hsl(218, 28%, 13%);
/* Main Back */
$DarkBlueFooter: hsl(216, 53%, 9%);
/* Footer Back */
$DakkBlueTest: hsl(219, 30%, 18%);
/* Testitmianl Back */

/* ### Accent */

$Cyan: hsl(176, 68%, 64%);
$Blue: hsl(198, 60%, 50%);

/* ### Neutral */

$White: hsl(0, 0%, 100%);