@import "../styles/_var";

.MainCont{
    .page1Cont{
        width: 100vw;
        background-image: url(../img/bg-curvy-desktop.svg);
        background-position: bottom;
        background-repeat: no-repeat;

        @include desktop{
            background-size: cover;
        }
    }

    .page5Cont{
        background-color: $DarkBlueFooter;
        position: relative;
        top: -10vh
    }
}