@import '_var';


.MainHeader{
    h1{
        color: $White;
        text-align: center;
        font-size: 5rem;
        font-family: $Rale;
        min-width: 40rem;
        max-width: 70rem;

        @include mobile{
            font-size: 2.3rem;
        }
    }
}


