@import '_var';


.MainText{
    p{
        color: $White;
        text-align: center;
        font-size: 2rem;
        font-family: $Open;
        padding-top: 3rem;
        min-width: 40rem;
        max-width: 70rem;
    }
}


