@import '_var';


.page3__container{
    background-color: $DarkBlueMain;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-top: 10rem;

    @include mobile{
        grid-template-columns: 1fr;
    }

    .page3__left{
        justify-self: right;
        min-width: 30rem;

    @include mobile{
        width: 26rem;
        justify-self: center;
    }

    img{
        width: 100%;
    }
    }

    .page3__right{
        display: flex;
        flex-direction: column;
        padding-left: 5rem;

        .MainHeader{

            @include mobile{
                padding-top: 5rem;
            }
            h1{
                text-align: left;
            }
        }

        .MainText{
            p{
                text-align: left;
            }
        }
    }

}


