@import '_var';


.page1Cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-top: 8rem;

    img{
        max-width: 100%;
    }

    .MainHeader{
        padding-top: 5rem;
    }

    .buttonCont{
        padding-top: 3rem;
    }
}
